* {
    margin: 0;
    padding: 0;
}
body {
    overflow: scroll;
    overflow-x:hidden;
}
.hd {
    overflow:hidden; 
}
.w {
    width: 100%;
    margin: auto;
}       
/* li {
    list-style: none;
} */
a {
    text-decoration: none;
}
nav {
    display: flex;
    height: 60px;
    
    background-color: rgb(51,51,51);

}
.bird {
    display: flex;
    padding-top: 10px;
    /* width: 1800px; */
    width: 95%;
    height: 40px;
    margin: auto;
    justify-content: space-between;
}
.bird ul {
    display: flex;
}

.bird li a {
    padding-right: 5px;
    font-size: 15px;
}
body {
    
    background-color: rgb(222,222,222);
}
article {
    margin-left: 30px;
}
h1 {
    font-weight: 600;
    margin-bottom: 20px;
}
h2 {
    font-size: 18px;
    color: gray;
    font-weight: 600;
    margin-bottom: 15px;
}
h3 {
    font-size: 12px;
    color: gray;
}
p {
    text-indent:2em;
    font-family: \5FAE\8F6F\96C5\9ED1;
}
.details1,
.details2,
.details3,
.details4{
    /* margin-left: 30px; */
    margin-top: 30px;
    padding: 30px;
    /* width: 1225px; */
    width: 64.8%;
    background-color: #fff;
    box-shadow: 3px 3px 3px #888888; 
}
.picture {
    display: flex;
    margin-top: 50px;
    width: 1080px;
    height: 600px;
    background-color: #fff;
    justify-content: space-around;
    flex-wrap: wrap;
}
.part {
    height: 180px;
    padding: 20px 10px 34px;
    border: 1px solid rgb(220,218,219);
    
}
h4 {
    font-size: 20px;
    padding-left: 65px;
    padding-bottom: 10px ;
}
.rightpart {
    float: right;
    margin-right: 45px;
    /* width: 530px; */
    width: 28.1%;
    background-color: #fff;
    margin-left: 10px;
    
}
.mainhead {
    padding: 27px 20px 20px;
    box-shadow: 3px 3px 3px #888888;
}
h5{
    margin-left: 5px;
    padding:9px;
    border-left: 3px solid rgb(204,204,204);
    font-size: 22px;
    margin-bottom: 6px;
}


th {
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}
td {
   padding-top: 10px;
   padding-bottom: 10px;
   
   padding-left: 15px;
}
input {
    border: 1px solid rgb(204,204,204);
    outline: none;
    padding: 5px;
}
.mainbody {
    padding-left: 23px;
}
.sex {
    margin-left: 7px;
}
.unit {
    font-size: 12px;
}
.checkbox {
    margin-left: 7px;
    margin-right: 3px;
}
.button {
    /* width: 445px; */
    width: 93%;
    height: 54px;
}
.button button {
    border: 1px solid rgb(51,85,209);
    /* width: 445px; */
    width: 100%;
    height: 54px;
   background-color: rgb(51,85,209);
   color: #fff;
   font-size: 21px;
   outline: none;
   transition: all .5s;
   border-radius: 10px;
}
.button button:hover {
    background-color: rgb(73, 93, 163);
    cursor: pointer;
}
.personal,
.thetext {
    vertical-align:top;
    padding-top: 10px;
    
}
.thetext {
    font-size: 20px;
    resize: none;
}
.details4 h3{
    margin-bottom: 20px;
}
.details4 p{
    font-weight: 700;
}
.details4 th
{
    color: #fff;
    background-color: rgb(51,51,51);
    text-align: left;
    padding: 5px;
}
.details4 td 
{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.special {
    background-color: rgb(204,204,204);
    font-weight: 700;
}
.details4 table {
    margin-top: 20px;
}
/* .dot::before {
    content: "·";
   color: black;
    font-size: 20px;
    margin-right: 5px;
} */
.dot {
    margin-right: 18px;
    color: #ffffff;
}
.dot1 {
    color: rgb(133,133,133);
}
footer {
    height: 65px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 35px;
}
.list {
    list-style:none;
    margin-left: 25px;
}
.details4 ol li {
    font-weight: 700;
}
.details4 ol {
    padding-left: 50px;
}
.details4 td a{
    text-decoration: underline;
}
